/* colors */
:root {
	/* Orange Color Shades */
	--orange-100: #F37024;
	--orange-80: #F58D50;
	--orange-60: #F8A97C;
	--orange-40: #FAC6A7;
	--orange-20: #FDE2D3;
	--orange-10: #FEF0E9;
	/* Dark Gray Color Shades */
	--dark-gray-100: #59595C;
	--dark-gray-80: #7A7A7D;
	--dark-gray-60: #9B9B9D;
	--dark-gray-40: #BDBDBE;
	--dark-gray-20: #DEDEDE;
	--dark-gray-10: #EEEEEE;
	/* Light Gray Color Shades */
	--light-gray-100: #D2D3D4;
	--light-gray-80: #DBDCDD;
	--light-gray-60: #E4E5E5;
	--light-gray-40: #EDEDEE;
	--light-gray-20: #F6F6F6;
	--light-gray-10: #FAFBFB;
}

/* fonts */
@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
	font-style: italic;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: var(--dark-gray-100);
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 800;
}

h3 {
	font-weight: 700;
}

p {
	font-weight: 400;
}

#blazor-error-ui {
	color-scheme: light only;
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

.blazor-error-boundary {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
	padding: 1rem 1rem 1rem 3.7rem;
	color: white;
}

	.blazor-error-boundary::after {
		content: "An error has occurred."
	}

.loading-progress {
	position: relative;
	display: block;
	width: 8rem;
	height: 8rem;
	margin: 20vh auto 1rem auto;
}

	.loading-progress circle {
		fill: none;
		stroke: #e0e0e0;
		stroke-width: 0.6rem;
		transform-origin: 50% 50%;
		transform: rotate(-90deg);
	}

		.loading-progress circle:last-child {
			stroke: #1b6ec2;
			stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
			transition: stroke-dasharray 0.05s ease-in-out;
		}

.loading-progress-text {
	position: absolute;
	text-align: center;
	font-weight: bold;
	inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

	.loading-progress-text:after {
		content: var(--blazor-load-percentage-text, "Loading");
	}

code {
	color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
	color: var(--bs-secondary-color);
	text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
	text-align: start;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #59595C;
}

/* header */
.app-logo {
	max-height: 65px;
	overflow-clip-margin: content-box;
	width: 125px;
	vertical-align: middle;
	overflow: clip;
}

.mud-appbar {
	height: 64px;
	justify-content: center;
}

/* sidebar */
.sidebar-nav {
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 15px;
}

.sidebar-menu-parent {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.64rem;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
	padding-left: 1.2rem;
}

.sidebar-menu-child {
	display: flex;
	align-items: center;
}

.sidebar-menu-link {
	line-height: 25px;
	text-decoration: none;
	font-size: 16px;
}

	.sidebar-menu-link a {
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0.75rem;
		border-radius: 0.5rem;
	}

		.sidebar-menu-link a.active {
			background-color: transparent !important;
		}

	.sidebar-menu-link i {
		font-size: 1rem;
	}

	.sidebar-menu-link a .mud-nav-link-text {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
	}

.sidebar-menu-text {
	display: inline-block;
	position: relative;
	background-size: cover;
	font-size: 0.8rem;
	font-weight: 600;
}

/* pages */
/* general */
.page-title {
	font-weight: 500;
}

/* system-settings */
.system-settings-card {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.system-settings-head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.system-settings-icon {
	height: auto;
	width: 6rem;
}

/* farm-overview */
.batch-size-input {
	width: 120px;
	height: auto;
}

.rack-set-container {
	width: 95px;
	border: 1px solid #ddd;
	padding: 8px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.rack-head,
.rack-tray,
.rack-footer {
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.rack-head {
	height: 29px;
	background-image: url('/images/farm/racks/rack-head.svg');
}

.rack-tray {
	height: 21px;
	background-image: url('/images/farm/racks/rack-tray.svg');
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.rack-tray-overlay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.rack-tray-overlay-text {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 0.7rem;
	height: 15px;
	border-radius: 2px;
	margin: 3px;
	padding-inline-end: 3px;
}

	.rack-tray-overlay-text > .bi-circle-fill {
		font-size: 0.45rem;
		margin-block-start: 2px;
		margin-inline-start: 3px;
	}

.overlay-dot {
	color: #6a6c61;
	background: #dadad2;
}

.overlay-dot-lh {
	color: #1892d6;
	background: #bee9f9;
}

.overlay-dot-pg {
	color: #28af00;
	background: #c5f4c8;
}

.overlay-dot-mg {
	color: #e97707;
	background: #f6ddc8;
}

.rack-footer {
	height: 6px;
	background-image: url('/images/farm/racks/rack-footer.svg');
}

/*OPCServerStats*/

.lights {
	padding: 1em;
	border: 1px solid grey;
	width: 6em;
	background-color: #343a40;
}

	.lights div {
		margin-bottom: 0.5em;
		border: 2px solid grey;
		width: 4em;
		height: 4em;
		border-radius: 50%;
	}

div.red.on {
	background-color: red;
}

div.green.on {
	background-color: green;
}

.opc-worker-hearbeats {
	width: 110px;
	height: 110px;
	background: #30374a;
}

.opc-worker-hearbeats p {
	color: white;
	font-weight: bold;
}

.opc-worker-indicator {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.opc-worker-indicator.green-light {
	background-color: #26b003;
}

.opc-worker-indicator.red-light {
	background-color: #fe0000;
}
	.opc-worker-indicator.no-light {
		background-color: #555;
	}
.opc-stats-cards {
	height: 100%;
	border-radius: 8px;
}

.opc-stats-header {
	color: #ec7638 !important;
	font-weight: 500;
}

.opc-stats-tree .mud-typography {
	font-size: 0.8rem;
}

/* /farm/occupancy */
.legend-box {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	border: 1px solid #aaa;
}

.bg-overload {
	background-color: #d32f2f !important;
}

.bg-full {
	background-color: #c2185b !important;
}

.bg-warning {
	background-color: #ffa000 !important;
}

.bg-info {
	background-color: #0288d1 !important;
}

.bg-low {
	background-color: #7b1fa2 !important;
}

.bg-empty {
	background-color: #f0dbf8 !important;
}

/* tray states */
.tray-square-cell {
	max-width: 100px;
	padding: 0 !important;
	text-align: center;
	overflow: hidden;
	border: none;
	box-shadow: inset 0 0 0 0.1px #555;
}

.tray-rotated-header {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	white-space: normal;
	overflow-wrap: break-word;
	text-align: center;
	vertical-align: middle;
	line-height: 1.1;
	display: table-cell;
	text-align: start;
	max-height: 220px;
	max-width: 100px;
	font-size: 0.80rem;
	margin: 0;
}

	.tray-rotated-header .column-header {
		line-height: 1;
	}

/* farm rack occupancy */
.farm-rack-tray-layernumber {
	width: 32px !important;
	max-width: 32px;
	height: 32px;
	padding: 0 !important;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
/* farm rack occupancy */
.farm-rack-tray-columnnumber {
	width: 32px !important;
	max-width: 32px;
	height: 32px;
	padding: 0 !important;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.farm-rack-tray-square-cell {
	width: 32px !important;
	max-width: 32px;
	height: 32px;
	padding: 0 !important;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	border: none;
	box-shadow: inset 0 0 0 0.1px #555;
}

.farm-rack-layer-label {
	font-size: 10px;
	font-weight: bold;
	white-space: nowrap;
}

.farm-rack-tray-cell-content {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.farm-rack-notray {
	background-color: white;
	color: black;
}

.farm-rack-tray-estimated {
	background-color: #e48d2f;
	color: black;
	border: dashed 1px #333;
}

.farm-rack-tray-empty {
	background-color: #e0e0e0;
	color: black;
}

.farm-rack-tray-age-1 {
	background-color: #a5d6a7;
	color:black;
}

.farm-rack-tray-age-2 {
	background-color: #66bb6a;
	color: black;
}

.farm-rack-tray-age-3 {
	background-color: #388e3c;
	color: black;
}

.farm-rack-tray-aged {
	background-color: #2a6b2d;
	color: black;
}

.farm-rack-tray-germination-age-1 {
	background-color: #e21c6a;
	color: black;
}

.farm-rack-tray-germination-age-2 {
	background-color: #9d1449;
	color: black;
}

.farm-rack-tray-germination-age-3 {
	background-color: #570b29;
	color: black;
}

.farm-rack-tray-germination-aged {
	background-color: #110208;
	color: black;
}

.farm-rack-legend-box {
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	border-radius: 4px;
}

.farm-rack-tray-transport {
	background-color: #E23F44;
}

.farm-rack-layer-label-transport {
	font-weight: bold;
	color: #5e35b1;
}

.calendar-view .rz-button-box {
	color: var(--mud-palette-action-default);
}

.calendar-view .rz-scheduler {
	height: 900px;
	padding: 16px;
}

.rz-html-editor:focus-within {
	outline: none !important;
}
