<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
		</staticContent>
		<rewrite>
     <outboundRules>
         <rule name="Remove Server Response Header">
             <match serverVariable="RESPONSE_SERVER" pattern=".*" />
             <action type="Rewrite" />
         </rule>
     </outboundRules>
 </rewrite>
	</system.webServer>
</configuration>
