<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<rewrite>
     <outboundRules>
         <rule name="Remove Server Response Header">
             <match serverVariable="RESPONSE_SERVER" pattern=".*" />
             <action type="Rewrite" />
         </rule>
		 <rule name="NoCacheForBlazorBoot">
			 <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
			 <conditions>
				 <add input="{REQUEST_URI}" pattern="blazor.boot.json" />
			 </conditions>
			 <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
		 </rule>
     </outboundRules>
 </rewrite>
	</system.webServer>
</configuration>


