<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\VHS.WebAPI.dll" stdoutLogEnabled="true" stdoutLogFile="E:\VHS-API" hostingModel="inprocess" />
	</system.webServer>
</configuration>
